        {%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
            {% if letter_head and not no_letterhead %}
            <div class="letter-head">{{ letter_head }}</div>
            {% endif %}
            {%- if doc.meta.is_submittable and doc.docstatus==0-%}
            <div class="alert alert-info text-center">
                <h4 style="margin: 0px;">{{ _("DRAFT") }}</h4></div>
            {%- endif -%}
            {%- if doc.meta.is_submittable and doc.docstatus==2-%}
            <div class="alert alert-danger text-center">
                <h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4></div>
            {%- endif -%}
            {% if max_pages > 1 %}
            <p class="text-right">{{ _("Page #{0} of {1}").format(page_num, max_pages) }}</p>
            {% endif %}
        {%- endmacro -%}

        {{ add_header(0,1,doc,letter_head, no_letterhead) }}

        <label>
        <p class="text-center" style="border-top: solid 2px;border-bottom: solid 2px;font-size: 13pt;"><b>{{ _("TEST CERTIFICATE") }}</b></p>
        </label>
        <br>
        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Work Order No :</label></div>
                    <div class="col-xs-7 ">{{ doc.work_order_no }} </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Work Order Date :</label></div>
                    <div class="col-xs-7 ">{{ doc.get_formatted("work_order_date") or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Issued to :</label></div>
                    <div class="col-xs-7 ">{{ doc.customer or ''}}<br>
                    {{ doc.address or ''}} <br>
                    {{ doc.admin_address_details or ''}} <br>
                    {{ doc.technical_contact or ''}} <br>
                    {{ doc.technical_contact_details or ''}}
                </div>
                </div>   
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Code Designation :</label></div>
                    <div class="col-xs-7 ">{{ doc.code_designation or ''}}</div>
                </div>         
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Certificate No :</label></div>
                    <div class="col-xs-7 ">{{ doc.name or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Date :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("certificate_date") or ''}}</div>
                </div>    
            </div>
        </div>

        <label>
        <p class="text-center" style="border-top: solid 1px;border-bottom: solid 1px;"><b>{{ _("Sample Details") }}</b></p>
        </label>
        <br>
        <br>

        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Manufactured By :</label></div>
                    <div class="col-xs-7 ">{{ doc.manufactured_by or '' }} </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Serial No :</label></div>
                    <div class="col-xs-7 ">{{ doc.serial_number or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Type :</label></div>
                    <div class="col-xs-7 "></div>
               </div>
               <br>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Sample Type :</label></div>
                    <div class="col-xs-7 ">{{ doc.type or ''}}</div>
               </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Point Of Collection :</label></div>
                    <div class="col-xs-7 ">{{ doc.customer or ''}}</div>
               </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Cust. Container No :</label></div>
                    <div class="col-xs-7 ">{{ doc.container_no or ''}}</div>
               </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Weather Condition :</label> (During Sampling)</div>
                    <div class="col-xs-7 ">{{ doc.weather_condition_during_sampling or ''}}</div>
               </div>

            </div>   
               
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Voltage Ratio :</label></div>
                    <div class="col-xs-7 ">{{ doc.voltage_ratio or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Rating :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.rating or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Phase :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.phase or ''}}</div>
                </div>   
                <br>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Date of Collection :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("date_of_collection") or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Collected By :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.collected_by or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Date of Receipt :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("date_of_receipt") or ''}}</div>
                </div>    
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Condition of sample :</label>(when received at TRUFIL) </div>
                    <div class="col-xs-7 ">
                        {{ doc.condition_of_sample or ''}}</div>
                </div>    
            </div>

        </div>


        <label>Observations from Oil Screening Test</label>
        <div class="row">
         <div class="col-xs-12 text-left">
              <div class="alert" style="border: solid 1px">
                {{ doc.observations_from_oil_screening_test or ''}}
              </div>
         </div>
        </div>

        <label>Observation from Dissolved Gas Analysis</label>
        <div class="row">
         <div class="col-xs-12 text-left">
              <div class="alert" style="border: solid 1px">
                 {{ doc.observation_from_dissolved_gas_analysis or ''}}
              </div>
         </div>
        </div>

        <label>Observation from Furan Analysis</label>
        <div class="row">
         <div class="col-xs-12 text-left">
              <div class="alert" style="border: solid 1px">
                 {{ doc.observation_from_furan_analysis or ''}}
              </div>
         </div>
        </div>

        <label>Overall Recommendation</label>
        <div class="row">
            <div class="col-xs-12 text-left">
                <div class="alert" style="border: solid 1px">{{ doc.overall_recommendation or ''}}</div>
            </div>
        </div>

        <div class="row">
         <div class="col-xs-6 text-left">
        TRU-FIL Remarks : {{ doc.trufil_remarks or ''}}
         </div>
        <div class="col-xs-6 text-left">
        Next Test Due on : {{ doc.get_formatted("next_test_due_on") or ''}}
         </div>
        </div>
        <!-- second page Test Result -->
<div class="page-break"></div>

{{ add_header(0,1,doc,letter_head, no_letterhead) }}

        <br>

        <label>
        <p class="text-center" style="border-top: solid 2px;border-bottom: solid 2px;font-size: 13pt;">
             <b>{{ _("Test Report") }}</b>
        </p>
        </label>
        <br>

        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Work Order No :</label></div>
                    <div class="col-xs-7 ">{{ doc.work_order_no }} </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Work Order Date :</label></div>
                    <div class="col-xs-7 ">{{ doc.get_formatted("work_order_date") or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Cust. Container No:</label></div>
                    <div class="col-xs-7 ">{{ doc.container_no or ''}}
                </div>
                </div>   
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Code Designation :</label></div>
                    <div class="col-xs-7 ">{{ doc.code_designation or ''}}</div>
                </div>         
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Certificate No :</label></div>
                    <div class="col-xs-7 ">{{ doc.name or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Date :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("certificate_date") or ''}}</div>
                </div>    
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Container No :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.container_no or ''}}</div>
                </div>    
            </div>
        </div>

        <label>
        <p class="text-center" style="border-top: solid 1px;border-bottom: solid 1px;"><b>{{ _("Test Result for Oil Screening Test") }}
        </b></p>
        </label>
        <br>

        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Standard :</label></div>
                    <div class="col-xs-7 ">{{ doc.standard or ''}} </div>
                </div>       
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Test Start Date :</label></div>
                    <div class="col-xs-7 ">{{ doc.get_formatted("test_start_date") or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Test End Date :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("test_end_date") or ''}}</div>
                </div>    
            </div>
        </div>

        <!-- table content -->

        <table class="table table-condensed table-hover table-bordered">
                <tr>
                    <th>Description</th>
                    <th class="text-right">Test Result</th>
                    <th class="text-right">Method</th>
                    <th class="text-right">Limits As per Standard</th>
                </tr>

                <tr>
                    <td style="width: 37%;">Physical Examination</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;">IS:335</td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">Color</td>
                    <td style="width: 21%;">{{ doc.color or ''}}</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">Odor</td>
                    <td style="width: 21%;">{{ doc.odor or ''}}</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">Visual Appearance</td>
                    <td style="width: 21%;">{{ doc.visual_appearance or ''}}</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">Density at 29.5 °C</td>
                    <td style="width: 21%;">{{ doc.density or ''}} g/cm 3</td>
                    <td style="width: 21%;">IS:1448 (P-16)</td>
                    <td style="width: 21%;">0.89 MAX</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Dielectric Dissipation Factor at 50 Hz</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;">IS:6262</td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">At Temp 27 °C<CENTER></CENTER></td>
                    <td style="width: 21%;">{{ doc.at_temp_27_o_c_i or ''}}</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">At Temp 90 °C</td>
                    <td style="width: 21%;">{{ doc.at_temp_90_o_c_i or ''}}</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;">0.002</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Specific Resistivity (ohm-cm)</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;">IS:6103</td>
                    <td style="width: 21%;"></td>
                </tr>
                <tr>
                    <td style="width: 37%;">At Temp 27 o <CENTER></CENTER></td>
                    <td style="width: 21%;">{{ doc.at_temp_27_o_c_ii or ''}} ohm-cm</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;">1500 x 10 12 ohm-cm</td>
                </tr>
                <tr>
                    <td style="width: 37%;">At Temp 90 °C</td>
                    <td style="width: 21%;">{{ doc.at_temp_90_o_c_ii or ''}} ohm-cm</td>
                    <td style="width: 21%;"></td>
                    <td style="width: 21%;">35 x 10 12 ohm-cm</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Interfacial Tension of the Oil against Water at 27 °C</td>
                    <td style="width: 21%;">{{ doc.interfacial_tension or ''}} N/m</td>
                    <td style="width: 21%;">IS:6104</td>
                    <td style="width: 21%;">0.04 N/m</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Dielectric Strength (Break Down Voltage)</td>
                    <td style="width: 21%;">{{ doc.dielectric_strength or ''}}kV</td>
                    <td style="width: 21%;">IS:6792</td>
                    <td style="width: 21%;">30 kV MIN</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Water Content</td>
                    <td style="width: 21%;">{{ doc.water_content or ''}}ppm</td>
                    <td style="width: 21%;">IS:13567</td>
                    <td style="width: 21%;">50 MAX</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Neutralisation Value (Total Acidity)</td>
                    <td style="width: 21%;">{{ doc.neutralisation_value or ''}} mg KOH/g</td>
                    <td style="width: 21%;">IS:1448 (P-2)</td>
                    <td style="width: 21%;">0.03 mg KOH/g</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Sediments and Precipitable Sludge</td>
                    <td style="width: 21%;">{{ doc.sediments_and_precipitable_sludge or ''}} g</td>
                    <td style="width: 21%;">IS:1866 (AP-A)</td>
                    <td style="width: 21%;">Nill</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Flash Point</td>
                    <td style="width: 21%;">{{ doc.neutralisation_value or ''}} °C</td>
                    <td style="width: 21%;">IS:1448 (P-21)</td>
                    <td style="width: 21%;">140 °C MIN</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Kinematic Viscocity at 27 C</td>
                    <td style="width: 21%;">{{ doc.kinematic_viscocity_at_27_c or ''}} cst</td>
                    <td style="width: 21%;">IS:1866 (AP-A)</td>
                    <td style="width: 21%;">Nill</td>
                </tr>
                <tr>
                    <td style="width: 37%;">Flash Point ( °C)</td>
                    <td style="width: 21%;">{{ doc.flash_point or ''}} °C</td>
                    <td style="width: 21%;">IS:1448 (P-21)</td>
                    <td style="width: 21%;">140 °C MIN</td>
                </tr>
        </table>


        <label>
        <p class="text-center" style="border-top: solid 1px;border-bottom: solid 1px;"><b>
             {{ _("Test Result for Dissolved Gas Analysis") }}
        </b></p>
        </label>
        <br>

        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Standard :</label></div>
                    <div class="col-xs-7 ">{{ doc.standard or ''}} </div>
                </div> 
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Method :</label></div>
                    <div class="col-xs-7 ">{{ doc.method or ''}} </div>
                </div>       
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Test Start Date :</label></div>
                    <div class="col-xs-7 ">{{ doc.get_formatted("test_start_date") or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Test End Date :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("test_end_date") or ''}}</div>
                </div>    
            </div>
        </div>

        <table class="table table-condensed table-hover table-bordered">
                <tr>
                    <th colspan="3" class="text-center">Total Gas Contents (v/v) at NTP (TGC)</th>
                    <th colspan="4" class="text-center">Total Dissolved Combustible Gases (TDCG)</th>
                    <th colspan="3" class="text-center">TDCG / TGC (%)</th>
                </tr>

                <tr>
                    <td colspan="3" style="width: 33%;"></td>
                    <td colspan="4" style="width: 34%;"></td>
                    <td colspan="3" style="width: 33%;"></td>
                </tr>
                <tr> 
                    <td colspan="10" class="text-center">Concetration of Component Gases</td>
                </tr>
                <tr>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;">Hydrogen (H 2 )</td>
                    <td style="width: 10%;">Oxygen (O 2 )</td>
                    <td style="width: 10%;">Nitrogen (N 2 )</td>
                    <td style="width: 10%;">Carbon Monoxide</td>
                    <td style="width: 10%;">Methane (CH 4 )</td>
                    <td style="width: 10%;">Carbon Dioxide</td>
                    <td style="width: 10%;">Ethane (C2 H6)</td>
                    <td style="width: 10%;">Ethylene (C2 H4)</td>
                    <td style="width: 10%;">Acetelene (C2 H2)</td>
                </tr>
                <tr>
                    <td style="width: 10%;">Test Result</td>
                    <td style="width: 10%;">{{ doc.hydrogen or '' }}</td>
                    <td style="width: 10%;">{{ doc.oxygen or '' }}</td>
                    <td style="width: 10%;">{{ doc.nitrogen or '' }}</td>
                    <td style="width: 10%;">{{ doc.carbon_monoxide or '' }}</td>
                    <td style="width: 10%;">{{ doc.methane or '' }}</td>
                    <td style="width: 10%;">{{ doc.carbon or '' }}</td>
                    <td style="width: 10%;">{{ doc.ethane or '' }}</td>
                    <td style="width: 10%;">{{ doc.ethylene or '' }}</td>
                    <td style="width: 10%;">{{ doc.acetelene or '' }}</td>
                </tr>
                <tr>
                    <td style="width: 10%;">Limits as per Standard</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                </tr>
        </table>

    <!-- page third, Test Result for Furan Analysis -->
<div class="page-break"></div>

{{ add_header(0,1,doc,letter_head, no_letterhead) }}

       <label>
        <p class="text-center" style="border-top: solid 2px;border-bottom: solid 2px;font-size: 13pt;">
             <b>{{ _("Test Report") }}</b>
        </p>
        </label>
        <br>

        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Work Order No :</label></div>
                    <div class="col-xs-7 ">{{ doc.work_order_no }} </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Work Order Date :</label></div>
                    <div class="col-xs-7 ">{{ doc.get_formatted("work_order_date") or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Cust. Container No:</label></div>
                    <div class="col-xs-7 ">{{ doc.container_no or ''}}
                </div>
                </div>   
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Code Designation :</label></div>
                    <div class="col-xs-7 ">{{ doc.code_designation or ''}}</div>
                </div>         
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Certificate No :</label></div>
                    <div class="col-xs-7 ">{{ doc.name or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Date :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("certificate_date") or ''}}</div>
                </div>    
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Container No :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.container_no or ''}}</div>
                </div>    
            </div>
        </div>

        <label>
        <p class="text-center" style="border-top: solid 1px;border-bottom: solid 1px;"><b>{{ _("Test Result for Furan Analysis") }}
        </b></p>
        </label>
        <br>

        <div class="row">        
             <div class="col-xs-6">            
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Standard :</label></div>
                    <div class="col-xs-7 "> {{ doc.standard or ''}}</div>
                </div>  
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Method :</label></div>
                    <div class="col-xs-7 ">{{ doc.method or ''}}</div>
                </div>       
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-5 text-right"><label>Test Start Date :</label></div>
                    <div class="col-xs-7 ">{{ doc.get_formatted("test_start_date") or ''}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-right"> <label>Test End Date :</label> </div>
                    <div class="col-xs-7 ">
                        {{ doc.get_formatted("test_end_date") or ''}}</div>
                </div>    
            </div>
        </div>

    <table class="table table-condensed table-hover table-bordered">
        <tr>
            <td style="width: 16%;"></td>
            <td style="width: 14%;">5- Hydroxymethyle -2-furaldehyde</td>
            <td style="width: 14%;">2-Furfurol (furfuryl alcohol)</td>
            <td style="width: 14%;">2-Furaldehyde</td>
            <td style="width: 14%;">2-Acetyl furan</td>
            <td style="width: 14%;">5-Methyle - 2-furaldehyde</td>
            <td style="width: 14%;">Total Furan Content in OIL (ppb)</td>
        </tr>
        <tr>
            <td style="width: 16%;">Test Results</td>
            <td style="width: 14%;">{{ doc.hydroxymethyle or "" }}</td>
            <td style="width: 14%;">{{ doc.furfurol or "" }}</td>
            <td style="width: 14%;">{{ doc.furaldehyde or "" }}</td>
            <td style="width: 14%;">{{ doc.acetyl_furan or "" }}</td>
            <td style="width: 14%;">{{ doc.methyle or "" }}</td>
            <td style="width: 14%;">{{ doc.total_furan_content_in_oil or "" }}</td>
        </tr>

    </table>

    <div class="row">
        <div class="col-xs-5 text-right">Average atmospheric condition of the lab</div>
        <div class="col-xs-4 text-right">Room Temperature: {{ doc.room_temperature or "" }} °C</div>
        <div class="col-xs-3 text-right">Relative Humidity: {{ doc.relative_humidity or "" }} %</div>
    </div> 

    <div class="row">
        <div class="col-xs-2 text-right"></div>
        <div class="col-xs-10">
    if Total Furans is <br>
    0 - 100 Acceptable<br>
    101 - 250 Questionable*<br>
    251 - 1000 Detiorated*<br>
    1001 - 2500 Low Reliability*<br>
    more than 2500 Rewind / Replace<br>
    * Consider rate of generation of Furans<br>
    (Source: Conference record of 1998 - IEEE International Symposium)
        </div>
    </div> 

    <hr>
    <div class="row">
        <div class="col-xs-1 text-right"></div>
        <div class="col-xs-11">
    Note:<br>
    The results indicated only refer to the tested samples and do not endorse any product<br>
    Please refer to our NABL Certificate for scope accrediated<br>
    The content of this certificate shall not be reproduced wholly or in part without written concemt of the laboratory<br>
    Total Liability of the Laboratory is limited to the invoiced amount<br>
    This certificate cannot be used in any advertising media or evidence in the court of law without prior concent of laboratory.<br>
        </div>
    </div> 
    <hr>


    <label>
    <p class="text-center" style="border-top: solid 1px;border-bottom: solid 1px;"><b>{{ _("End of Report") }}
    </b></p>
    </label>
